<!-- Our dynamic Jinga2 AboutMe.html -->
{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="page-header">
            <h1>About Sports Gear Outlet:</h1>
            <hr>
        
            <h2>Owner: Katelynn Heasley</h2>
        
            <h3>Location: San Diego, California</h3>
        
            <h3>Our Goals: </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi laborum nisi, corporis sapiente iusto maiores repellat tempore eum. Minima impedit delectus perferendis modi eveniet distinctio tempora nulla iste similique eius?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero alias corporis magni officiis aliquam consequatur sed voluptate! Aliquam minus laboriosam obcaecati fugiat, eos libero architecto labore, perspiciatis debitis repellat voluptas!</p>
        
            <h3>UPDATE: </h3>
            <ul>
                <li>Website Development</li>
                <li>Mobile Applications</li>
                <li>Analytic Database Development</li>
            </ul>
    </div>
</div>
{% endblock %}