<!-- Our dynamic Jinga2 products.html -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <h1>Gear Locker</h1>
    <h3>Items are color-coded by quantity</h3>
    <p>Have a look around and take what you need off the shelves to up your game.
    <hr>
    </p>
    <!-- Active Table DB -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Gear</th>
              <th scope="col">Category</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Description</th>
              <th scope="col">Classification</th>
              <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
        <!-- Jinja for loop -->
            {% for product in products %} 
                {% if product["active"] %}
                    <tr>
                        <th scope="row">{{ product["id"] }}</th>
                        <td>{{ product["name"] }}</td>
                        <td>{{ product["category"] }}</td>
                        <td>{{ product["quantity"] }}</td>
                        <td>{{ product["price"] }}</td>
                        <td>{{ product["description"] }}</td>
                        <td>{{ product["unique_tag"] }}</td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <!-- DeActivated 'Deleted' DB Table -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Gear</th>
              <th scope="col">Category</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Description</th>
              <th scope="col">Classification</th>
              <th scope="col">Un-Delete</th>
            </tr>
        </thead>
        <tbody>
        <!-- Jinja for loop -->
            {% for product in products %} 
                {% if product["active"] == FALSE %}
                    <tr>
                        <th scope="row">{{ product["id"] }}</th>
                        <td>{{ product["name"] }}</td>
                        <td>{{ product["category"] }}</td>
                        <td>{{ product["quantity"] }}</td>
                        <td>{{ product["price"] }}</td>
                        <td>{{ product["description"] }}</td>
                        <td>{{ product["unique_tag"] }}</td>
                        <td><form action="{{ url_for('delete') }}" method="PUT">
                            <input id="{{ product['id']}}" type="submit" value="Favorite">
                        </form></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


<!-- <form action="{{ url_for('delete') }}" method="PUT">
    <button id="{{ product['id']}}" type="submit" value="Favorite">
</form> -->

